<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Privacy Policy</h1>
    <p>
      iQuasar LLC provides this statement to inform you of our Privacy Policy
      and practices and the choices you can make about how your information is
      collected online and how that information is used. Using this application,
      you and those you are acting with indicate your agreement with the terms
      outlined in the Policy. The information you entrust to us will be treated
      with utmost confidentiality, and our dedication to its protection is
      embodied in this Privacy Policy. iQuasar’s privacy practices are
      consistent with U.S. – E.U. Safe Harbor principles Notice, Choice, Onward
      Transfer, Access and Accuracy, Security, and Oversight/Enforcement.
    </p>
    <h3>1. Sites covered by this Privacy Policy</h3>
    <p>
      This Privacy Statement applies to all iQuasar LLC-owned websites and
      domains and our wholly-owned subsidiaries. iQuasar’s websites may provide
      links to third-party websites for your convenience and information. If you
      access those links, you will no longer be connected to the iQuasar
      website. iQuasar does not control those sites or their privacy practices.
      We do not endorse or make any representations about third-party websites.
      iQuasar’s Privacy Policy does not cover the personal data you voluntarily
      choose to give to unrelated third parties. We encourage you to read the
      privacy policy of any site before submitting any personal information.
    </p>
    <h3>2. Types of information we collect</h3>
    <p>
      Personal Information Personal information is information associated with
      your name or personal identity. iQuasar LLC uses personal information you
      voluntarily provide only to understand your needs and interests and
      provide you with employment or business services. Once you choose to
      provide us with personal information, you can be assured it will be used
      only to support your relationship with iQuasar, LLC. iQuasar will not
      sell, rent, lease or provide your personal information to others. We take
      the trust you place in us seriously. The personal information you provide
      to us on these pages may include name, address, phone number, email
      address, contact preferences, educational and employment background, job
      interest, or services interest data. Once received, this data remains
      secure in our internal network, not accessible via the internet to any
      third parties. Non-personal Information Non-personal information is data
      about usage and technical operations that is not associated with a
      specific personal identity. iQuasar collects and analyzes non-personal
      information to evaluate how visitors use the iQuasar websites.
      Non-personal data we collect includes the pages and URLs by date visited,
      browser type, and geographical location. This data is used by tools like
      Google Analytics to understand the scope and reach of our marketing
      efforts.
    </p>
    <h3>3. How we use your information</h3>
    <p>
      iQuasar uses your personal information to provide you with services and
      help us better understand your needs, motivations, and interests.
      Specifically, we use your information to help you complete a transaction,
      to communicate with you, provide service and follow up, and update you on
      our services (including employment opportunities).
    </p>
  </body>
</html>
